/* HelpBar widget
*******************************/

.w-help-bar {
	position: relative;
	padding: 12px 23px;
}
	.w-help-bar .w-help-bar-item {
		margin-left: 20px;
	}

.zb-full-hd .w-help-bar {
	padding: 18px 34px;
}
	.zb-full-hd .w-help-bar .w-help-bar-item {
		margin-left: 30px;
	}
